<h2>Services</h2>


<%= link_to 'New Service', new_service_path %>


<table class="list issues">
	<caption> All Services </caption>
  <thead>
    <th> Name </th>
		<th> Delete </th>
  </thead>
	<tbody>
		<% @services.each do |service| %>
  		<% if @odd %>
				<% @odd = false %>
				<tr class="even">
			<% else %>
				<% @odd = true %>
				<tr class="odd">
			<% end %>
    		<td><%= link_to  service.name, edit_service_path(service.id) %> </td>
    		<td> <%= link_to "Delete", service_path(service.id), :method=>:delete, :confirm=>
								"Confirm service deletion" %> </td>
  		</tr>
		<% end %>
	</tbody>
</table>

