<h1>Services</h1>

<%= link_to 'New Service', new_service_path %>

<table class="table table-striped">
	<caption> All Services </caption>
  <thead>
    <th> Name </th>
		<th> Edit </th>
		<th> Delete </th>
  </thead>
	<% @services.each do |service| %>
		<tbody>
  		<tr>
    		<td><%= service.name %></td>
    		<td><%= link_to 'Edit', edit_service_path(service.id) %></td>
    		<td> <%= link_to "Delete", service_path(service.id), :method=>:delete, :confirm=>"Confirm
 						service deletion" %> </td>
  		</tr>
		</tbody>
	<% end %>
</table>

