
<table class="table table-striped"><caption> Results</caption>
	<thead>
		<th>Name</th>
		<th>Services</th>
		<th>Allocations</th>
	</thead>
	<tbody>
		<% @employee.employee_allocations.each do |employee_allocation| %>
			<tr>
				<% if employee_allocation == @employee.employee_allocations.first %>
					<td> <%= @employee.name %> </td>
				<% else %>
					<td> </td>
				<% end %>
				<td> <%= employee_allocation.service.name %> </td>
		  	<td> <%= employee_allocation.allocation %> </td>
			</tr>
		<% end %>
	</tbody>
</table>
