Rails.application.config.middleware.use OmniAuth::Strategies::LDAP, 
  :host => Project1::Application.config.host,
  :port => Project1::Application.config.port,
  :method => :plain,
  :base => Project1::Application.config.treebase,
  :uid => 'uid'
