<ul class="nav nav-tabs year-select">
  <li> 
    <%= t(:fiscal_year) %> 
  </li>
  <% unless @all_years.blank? %>
    <% @all_years.each do |year| %>
      <li class="<%=active_if_equal(year, @year)%>"> 
        <%= link_to year.year, change_year_logins_path + "?year=#{year.year}",
                    {:class => "year-tab"} %>
      </li>
    <% end %>
  <% end %>
</ul>