<div id="results_per_page">
  <%= t(:results_per_page) %>
  <% ITSI::Application.config.config['results_per_page_options'].each do |number_of_results|%>
    <% if number_of_results.to_s == session[:results_per_page].to_s %>
      <span id="pagination_selected">
    <% else %>
      <span class="pagination_option">
    <% end %>
    <%= link_to "#{number_of_results}", change_results_per_page_logins_path + 
                "?results_per_page=#{number_of_results}" +  
                "&name_to_search_for=#{params[:name_to_search_for]}" %>
    </span>
  <% end %>
</div>