<br/>
<div id="top-menu">
  <ul>
    <li> <%= t(:results_per_page) %> </li>
    <% Project1::Application.config.config['results_per_page_options'].each do |number_of_results|%>
      <% if number_of_results.to_s == session[:results_per_page].to_s %>
        <li class="selected">
      <% else %>
        <li>
      <% end %>
      <%= link_to "#{number_of_results}", 
                  change_results_per_page_logins_path + 
                  "?results_per_page=#{number_of_results}" %>
      </li>
    <% end %>
  </ul>
</div>