<%= t(:results_per_page) %>
<a href="/logins/change_results_per_page?results_per_page=10">10</a>
<a href="/logins/change_results_per_page?results_per_page=25">25</a>
<a href="/logins/change_results_per_page?results_per_page=50">50</a>
