<h2> Welcome to IT Service Inventory! </h2>

<p> 
  We have something exciting planned for this page! 
  <br/>
  <br/>
  Until it's ready, here is a cow! 
</p>
  
  <%= image_tag "http://www.saawinternational.org/cow2.jpg" %>