<%= render :partial => "/shared/plugin_header", :locals => {:is_board => true, 
      :members => @members, :sprints => @sprints, 
      :use_version_for_sprint => @use_version_for_sprint} %>

<div class="container-fluid">
  <%= render :partial => "screen_board", :locals => { :id_member =>@id_member, 
      :board_columns => @board_columns, :issue => @issue, :trackers => @trackers, 
      :priorities => @priorities, :members => @members, :statuses => @statuses, 
      :sprints => @sprints, :use_version_for_sprint => @use_version_for_sprint} %>
</div>


<script type="text/javascript">
  var url_filter = '<%= boards_filter_issues_onboard_path %>';
  var url_sort = "<%= lists_sort_path %>";
</script>