<h2> Internal Server Error!!!</h2>
<div class="error">
  Something went terribly wrong!
</div>
<br/>
<p>
  <%= link_to t(:return_to) + t(:home), pages_home_path %>
</p>
<img src="/assets/oh_no.jpg" />
