
html {
    overflow-y: scroll;
}
body {
    color: #484848;
    font-family: Verdana,sans-serif;
    font-size: 12px;
    margin: 0;
    min-width: 900px;
    padding: 0;
}
h1, h2, h3, h4 {
    font-family: "Trebuchet MS",Verdana,sans-serif;
}
h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}
h2, .wiki h1 {
    border-bottom: 1px solid #BBBBBB;
    color: #444444;
    font-size: 20px;
    margin: 0 0 10px;
    padding: 2px 10px 1px 0;
}
h3, .wiki h2 {
    border-bottom: 1px solid #BBBBBB;
    color: #444444;
    font-size: 16px;
    margin: 0 0 10px;
    padding: 2px 10px 1px 0;
}
h4, .wiki h3 {
    border-bottom: 1px dotted #BBBBBB;
    color: #444444;
    font-size: 13px;
    margin-bottom: 5px;
    padding: 2px 10px 1px 0;
}
#wrapper {
    background: none repeat scroll 0 0 white;
}
#top-menu {
    background: none repeat scroll 0 0 #2C4056;
    color: #FFFFFF;
    font-size: 0.8em;
    height: 1.8em;
    padding: 2px 2px 0 6px;
}
#top-menu ul {
    margin: 0;
    padding: 0px;
}
#top-menu li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
#top-menu a {
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 8px;
}
#top-menu #loggedas {
    color: #FFFFFF;
    float: right;
    margin-right: 0.5em;
}
#account {
  color: #FFFFFF;
  float: right;
  margin-bottom: 0.5em;}

#header {
    background-color: #507AAA;
    color: #F8F8F8;
    height: 5.3em;
    margin: 0;
    padding: 4px 8px 0 6px;
    position: relative;
}
#header a {
    color: #F8F8F8;
}
#header h1 a.ancestor {
    font-size: 80%;
}
#quick-search {
    float: right;
}
#main-menu {
    bottom: 0;
    left: 6px;
    margin-right: -500px;
    position: absolute;
}
#main-menu ul {
    margin: 0;
    padding: 0;
}
#main-menu li {
    float: left;
    list-style-type: none;
    margin: 0 2px 0 0;
    padding: 0;
    white-space: nowrap;
}
#main-menu li a {
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 4px 10px;
    text-decoration: none;
}
#main-menu li a:hover {
    background: none repeat scroll 0 0 #759FCF;
    color: #FFFFFF;
}
#main-menu li a.selected, #main-menu li a.selected:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #555555;
}
#admin-menu ul {
    margin: 0;
    padding: 0;
}
#admin-menu li {
    list-style-type: none;
    margin: 0;
    padding: 0 0 12px;
}
#admin-menu a {
    background-position: 0 40%;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 2px;
}
#admin-menu a.projects {
    background-image: url("../images/projects.png");
}
#admin-menu a.users {
    background-image: url("../images/user.png");
}
#admin-menu a.groups {
    background-image: url("../images/group.png");
}
#admin-menu a.roles {
    background-image: url("../images/database_key.png");
}
#admin-menu a.trackers {
    background-image: url("../images/ticket.png");
}
#admin-menu a.issue_statuses {
    background-image: url("../images/ticket_edit.png");
}
#admin-menu a.workflows {
    background-image: url("../images/ticket_go.png");
}
#admin-menu a.custom_fields {
    background-image: url("../images/textfield.png");
}
#admin-menu a.enumerations {
    background-image: url("../images/text_list_bullets.png");
}
#admin-menu a.settings {
    background-image: url("../images/changeset.png");
}
#admin-menu a.plugins {
    background-image: url("../images/plugin.png");
}
#admin-menu a.info {
    background-image: url("../images/help.png");
}
#admin-menu a.server_authentication {
    background-image: url("../images/server_key.png");
}
#main {
    background-color: #EEEEEE;
}
#sidebar {
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    width: 22%;
    z-index: 9;
}
* html #sidebar {
    width: 22%;
}
#sidebar h3 {
    color: #666666;
    font-size: 14px;
    margin-top: 14px;
}
#sidebar hr {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 0 none;
    height: 1px;
    margin: 0 auto;
    width: 100%;
}
* html #sidebar hr {
    color: #CCCCCC;
    left: -6px;
    position: relative;
    width: 95%;
}
#sidebar .contextual {
    margin-right: 1em;
}
#content {
    background-color: #FFFFFF;
    border-right: 1px solid #DDDDDD;
    margin: 0;
    padding: 6px 10px 10px;
    width: 75%;
    z-index: 10;
}
* html #content {
    margin-top: 0;
    padding: 6px 10px 10px;
    width: 75%;
}
html > body #content {
    min-height: 600px;
}
* html body #content {
    height: 600px;
}
#main.nosidebar #sidebar {
    display: none;
}
#main.nosidebar #content {
    border-right: 0 none;
    width: auto;
}
#footer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #BBBBBB;
    clear: both;
    color: #AAAAAA;
    font-size: 0.9em;
    padding: 5px;
    text-align: center;
}
#login-form table {
    background-color: #FFEBC1;
    border: 2px solid #FDBF3B;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding: 1em;
}
#login-form table td {
    padding: 6px;
}
#login-form label {
    font-weight: bold;
}
#login-form input#username, #login-form input#password {
    width: 300px;
}
#modalbg {
    background: none repeat scroll 0 0 #CCCCCC;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 49;
}
html > body #modalbg {
    position: fixed;
}
div.modal {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #759FCF;
    border-radius: 5px 5px 5px 5px;
    padding: 8px;
    position: absolute;
    top: 25%;
    z-index: 50;
}
div.modal h3.title {
    background: none repeat scroll 0 0 #759FCF;
    border: 0 none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #FFFFFF;
    margin: -8px -8px 1em;
    padding-left: 8px;
}
div.modal p.buttons {
    margin-bottom: 0;
    text-align: right;
}
html > body div.modal {
    position: fixed;
}
input#openid_url {
    background: url("../images/openid-bg.gif") no-repeat scroll 0 50% #FFFFFF;
    padding-left: 18px;
}
.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
a, a:link, a:visited {
    color: #2A5685;
    text-decoration: none;
}
a:hover, a:active {
    color: #C61A1A;
    text-decoration: underline;
}
a img {
    border: 0 none;
}
a.issue.closed, a.issue.closed:link, a.issue.closed:visited {
    color: #999999;
    text-decoration: line-through;
}


/** TABLE TABLE TABLE TABLE TABLE!!!!!!!!!!!! */
table.list {
    border: 1px solid #E4E4E4;
    border-collapse: collapse;
    margin-bottom: 4px;
    width: 100%;
}
table.list th {
    background-color: #EEEEEE;
    padding: 4px;
    white-space: nowrap;
    text-align: left;
}
table.list td {
    text-align: left;
    vertical-align: top;
}
table.list td.id {
    text-align: center;
    width: 2%;
}
table.list td.checkbox {
    padding: 2px 0 0;
    width: 15px;
}
table.list td.checkbox input {
    padding: 0;
}
table.list td.buttons {
    text-align: right;
    white-space: nowrap;
    width: 15%;
}
table.list td.buttons a {
    padding-right: 0.6em;
}
table.list caption {
    padding: 0.5em 0.5em 0.5em 0;
}
tr.project td.name a {
    white-space: nowrap;
}
tr.project.idnt td.name span {
    background: url("../images/bullet_arrow_right.png") no-repeat scroll 0 50% transparent;
    padding-left: 16px;
}
tr.project.idnt-1 td.name {
    padding-left: 0.5em;
}
tr.project.idnt-2 td.name {
    padding-left: 2em;
}
tr.project.idnt-3 td.name {
    padding-left: 3.5em;
}
tr.project.idnt-4 td.name {
    padding-left: 5em;
}
tr.project.idnt-5 td.name {
    padding-left: 6.5em;
}
tr.project.idnt-6 td.name {
    padding-left: 8em;
}
tr.project.idnt-7 td.name {
    padding-left: 9.5em;
}
tr.project.idnt-8 td.name {
    padding-left: 11em;
}
tr.project.idnt-9 td.name {
    padding-left: 12.5em;
}
tr.issue {
    text-align: center;
    white-space: nowrap;
}
tr.issue td.subject, tr.issue td.category, td.assigned_to, tr.issue td.string, tr.issue td.text {
    white-space: normal;
}
tr.issue td.subject {
    text-align: left;
}
tr.issue td.done_ratio table.progress {
    margin-left: auto;
    margin-right: auto;
}
tr.issue.idnt td.subject a {
    background: url("../images/bullet_arrow_right.png") no-repeat scroll 0 50% transparent;
    padding-left: 16px;
}
tr.issue.idnt-1 td.subject {
    padding-left: 0.5em;
}
tr.issue.idnt-2 td.subject {
    padding-left: 2em;
}
tr.issue.idnt-3 td.subject {
    padding-left: 3.5em;
}
tr.issue.idnt-4 td.subject {
    padding-left: 5em;
}
tr.issue.idnt-5 td.subject {
    padding-left: 6.5em;
}
tr.issue.idnt-6 td.subject {
    padding-left: 8em;
}
tr.issue.idnt-7 td.subject {
    padding-left: 9.5em;
}
tr.issue.idnt-8 td.subject {
    padding-left: 11em;
}
tr.issue.idnt-9 td.subject {
    padding-left: 12.5em;
}
tr.entry {
    border: 1px solid #F8F8F8;
}
tr.entry td {
    white-space: nowrap;
}
tr.entry td.filename {
    width: 30%;
}
tr.entry td.filename_no_report {
    width: 70%;
}
tr.entry td.size {
    font-size: 90%;
    text-align: right;
}
tr.entry td.revision, tr.entry td.author {
    text-align: center;
}
tr.entry td.age {
    text-align: right;
}
tr.entry.file td.filename a {
    margin-left: 16px;
}
tr.entry.file td.filename_no_report a {
    margin-left: 16px;
}
tr span.expander {
    background-image: url("../images/bullet_toggle_plus.png");
    cursor: pointer;
    margin-left: 0;
    padding-left: 8px;
}
tr.open span.expander {
    background-image: url("../images/bullet_toggle_minus.png");
}
tr.changeset {
    height: 20px;
}
tr.changeset ul, ol {
    margin-bottom: 0;
    margin-top: 0;
}
tr.changeset td.revision_graph {
    background-color: #FFFFFB;
    width: 15%;
}
tr.changeset td.author {
    text-align: center;
    white-space: nowrap;
    width: 15%;
}
tr.changeset td.committed_on {
    text-align: center;
    white-space: nowrap;
    width: 15%;
}
tr.changeset td.comments_nowrap {
    white-space: nowrap;
    width: 45%;
}
table.files tr.file td {
    text-align: center;
}
table.files tr.file td.filename {
    padding-left: 24px;
    text-align: left;
}
table.files tr.file td.digest {
    font-size: 80%;
}
table.members td.roles, table.memberships td.roles {
    width: 45%;
}
tr.message {
    height: 2.6em;
}
tr.message td.subject {
    padding-left: 20px;
}
tr.message td.created_on {
    white-space: nowrap;
}
tr.message td.last_message {
    font-size: 80%;
    white-space: nowrap;
}
tr.message.locked td.subject {
    background: url("../images/locked.png") no-repeat scroll 0 1px transparent;
}
tr.message.sticky td.subject {
    background: url("../images/bullet_go.png") no-repeat scroll 0 1px transparent;
    font-weight: bold;
}
tr.version.closed, tr.version.closed a {
    color: #999999;
}
tr.version td.name {
    padding-left: 20px;
}
tr.version.shared td.name {
    background: url("../images/link.png") no-repeat scroll 0 70% transparent;
}
tr.version td.date, tr.version td.status, tr.version td.sharing {
    text-align: center;
    white-space: nowrap;
}
tr.user td {
    width: 13%;
}
tr.user td.email {
    width: 18%;
}
tr.user td {
    white-space: nowrap;
}
tr.user.locked, tr.user.registered {
    color: #AAAAAA;
}
tr.user.locked a, tr.user.registered a {
    color: #AAAAAA;
}
tr.wiki-page-version td.updated_on, tr.wiki-page-version td.author {
    text-align: center;
}
tr.time-entry {
    text-align: center;
    white-space: nowrap;
}
tr.time-entry td.subject, tr.time-entry td.comments {
    text-align: left;
    white-space: normal;
}
td.hours {
    font-weight: bold;
    padding-right: 0.5em;
    text-align: right;
}
td.hours .hours-dec {
    font-size: 0.9em;
}
table.plugins td {
    vertical-align: middle;
}
table.plugins td.configure {
    padding-right: 1em;
    text-align: right;
}
table.plugins span.name {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}
table.plugins span.description {
    display: block;
    font-size: 0.9em;
}
table.plugins span.url {
    display: block;
    font-size: 0.9em;
}
table.list tbody tr.group td {
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
    padding: 0.8em 0 0.5em 0.3em;
}
table.list tbody tr.group span.count {
    color: #AAAAAA;
    font-size: 80%;
}
tr.group a.toggle-all {
    color: #AAAAAA;
    display: none;
    font-size: 80%;
    font-weight: normal;
}
tr.group:hover a.toggle-all {
    display: inline;
}
a.toggle-all:hover {
    text-decoration: none;
}
table.list tbody tr:hover {
    background-color: #FFFFDD;
}
table.list tbody tr.group:hover {
    background-color: inherit;
}
table td {
    padding: 2px;
}
table p {
    margin: 0;
}
.odd {
    background-color: #F6F7F8;
}
.even {
    background-color: #FFFFFF;
}
a.sort {
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-right: 16px;
}
a.sort.asc {
    background-image: url("../images/sort_asc.png");
}
a.sort.desc {
    background-image: url("../images/sort_desc.png");
}
table.attributes {
    width: 100%;
}
table.attributes th {
    text-align: left;
    vertical-align: top;
}
table.attributes td {
    vertical-align: top;
}
table.boards a.board, h3.comments {
    background: url("../images/comment.png") no-repeat scroll 0 50% transparent;
    padding-left: 20px;
}
td.center {
    text-align: center;
}
h3.version {
    background: url("../images/package.png") no-repeat scroll 0 50% transparent;
    padding-left: 20px;
}
div.issues h3 {
    background: url("../images/ticket.png") no-repeat scroll 0 50% transparent;
    padding-left: 20px;
}
div.members h3 {
    background: url("../images/group.png") no-repeat scroll 0 50% transparent;
    padding-left: 20px;
}
div.news h3 {
    background: url("../images/news.png") no-repeat scroll 0 50% transparent;
    padding-left: 20px;
}
div.projects h3 {
    background: url("../images/projects.png") no-repeat scroll 0 50% transparent;
    padding-left: 20px;
}
#watchers ul {
    margin: 0;
    padding: 0;
}
#watchers li {
    list-style-type: none;
    margin: 0 2px 0 0;
    padding: 0;
}
#watchers select {
    display: block;
    width: 95%;
}
#watchers a.delete {
    opacity: 0.4;
}
#watchers a.delete:hover {
    opacity: 1;
}
#watchers img.gravatar {
    margin: 0 4px 2px 0;
    vertical-align: middle;
}
.highlight {
    background-color: #FCFD8D;
}
.highlight.token-1 {
    background-color: #FFAAAA;
}
.highlight.token-2 {
    background-color: #AAFFAA;
}
.highlight.token-3 {
    background-color: #AAAAFF;
}
.box {
    background-color: #F6F6F6;
    border: 1px solid #E4E4E4;
    color: #505050;
    line-height: 1.5em;
    margin-bottom: 10px;
    padding: 6px;
}
div.square {
    border: 1px solid #999999;
    float: left;
    height: 0.6em;
    margin: 0.3em 0.4em 0;
    overflow: hidden;
    width: 0.6em;
}
.contextual {
    float: right;
    font-size: 0.9em;
    line-height: 1.4em;
    margin-top: 5px;
    padding-left: 10px;
    white-space: nowrap;
}
.contextual input, .contextual select {
    font-size: 0.9em;
}
.message .contextual {
    margin-top: 0;
}
.splitcontentleft {
    float: left;
    width: 49%;
}
.splitcontentright {
    float: right;
    width: 49%;
}
form {
    display: inline;
}
input, select {
    margin-bottom: 1px;
    margin-top: 1px;
    vertical-align: middle;
}
fieldset {
    border: 1px solid #E4E4E4;
    margin: 0;
}
legend {
    color: #484848;
}
hr {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 0 none;
    height: 1px;
    width: 100%;
}
blockquote {
    border-left: 3px solid #E0E0E0;
    font-style: italic;
    margin-left: 2.4em;
    padding-left: 0.6em;
}
blockquote blockquote {
    margin-left: 0;
}
acronym {
    border-bottom: 1px dotted;
    cursor: help;
}
textarea.wiki-edit {
    width: 99%;
}
li p {
    margin-top: 0;
}
div.issue {
    background: none repeat scroll 0 0 #FFFFDD;
    border: 1px solid #D7D7D7;
    margin-bottom: 6px;
    padding: 6px;
}
p.breadcrumb {
    font-size: 0.9em;
    margin: 4px 0;
}
p.subtitle {
    font-size: 0.9em;
    font-style: italic;
    margin: -6px 0 12px;
}
p.footnote {
    font-size: 0.9em;
    margin-bottom: 0;
    margin-top: 0;
}
div.issue div.subject div div {
    padding-left: 16px;
}
div.issue div.subject p {
    color: #999999;
    font-size: 90%;
    margin: 0 0 0.1em;
}
div.issue div.subject > div > p {
    margin-top: 0.5em;
}
div.issue div.subject h3 {
    margin: 0 0 0.1em;
}
div.issue span.private {
    background: none repeat scroll 0 0 #DD2222;
    border-radius: 2px 2px 2px 2px;
    bottom: 2px;
    color: #FFFFFF;
    font-size: 60%;
    font-weight: bold;
    margin-right: 2px;
    padding: 0 2px;
    position: relative;
    text-transform: uppercase;
}
#issue_tree table.issues, #relations table.issues {
    border: 0 none;
}
#issue_tree td.checkbox, #relations td.checkbox {
    display: none;
}
#relations td.buttons {
    padding: 0;
}
fieldset.collapsible {
    border-width: 1px 0 0;
    font-size: 0.9em;
}
fieldset.collapsible legend {
    background: url("../images/arrow_expanded.png") no-repeat scroll 0 40% transparent;
    cursor: pointer;
    padding-left: 16px;
}
fieldset.collapsible.collapsed legend {
    background-image: url("../images/arrow_collapsed.png");
}
fieldset#date-range p {
    margin: 2px 0;
}
fieldset#filters table {
    border-collapse: collapse;
}
fieldset#filters table td {
    padding: 0;
    vertical-align: middle;
}
fieldset#filters tr.filter {
    height: 2em;
}
fieldset#filters td.field {
    width: 200px;
}
fieldset#filters td.operator {
    width: 170px;
}
fieldset#filters td.values {
    white-space: nowrap;
}
fieldset#filters td.values img {
    vertical-align: bottom;
}
fieldset#filters td.add-filter {
    text-align: right;
    vertical-align: top;
}
.buttons {
    font-size: 0.9em;
    margin-bottom: 1.4em;
    margin-top: 1em;
}
div#issue-changesets {
    background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    font-size: 90%;
    margin-bottom: 1em;
    margin-left: 1em;
    padding-left: 1em;
    width: 45%;
}
div#issue-changesets div.changeset {
    padding: 4px;
}
div#issue-changesets div.changeset {
    border-bottom: 1px solid #DDDDDD;
}
div#issue-changesets p {
    margin-bottom: 1em;
    margin-top: 0;
}
div#activity dl, #search-results {
    margin-left: 2em;
}
div#activity dd, #search-results dd {
    font-size: 0.9em;
    margin-bottom: 1em;
    padding-left: 18px;
}
div#activity dt, #search-results dt {
    background-position: 0 50%;
    background-repeat: no-repeat;
    line-height: 18px;
    margin-bottom: 0;
    padding-left: 20px;
}
div#activity dt.me .time {
    border-bottom: 1px solid #999999;
}
div#activity dt .time {
    color: #777777;
    font-size: 80%;
}
div#activity dd .description, #search-results dd .description {
    font-style: italic;
}
div#activity span.project:after, #search-results span.project:after {
    content: " -";
}
div#activity dd span.description, #search-results dd span.description {
    color: #808080;
    display: block;
}
#search-results dd {
    margin-bottom: 1em;
    margin-left: 0;
    padding-left: 20px;
}
div#search-results-counts {
    float: right;
}
div#search-results-counts ul {
    margin-top: 0.5em;
}
div#search-results-counts li {
    float: left;
    list-style-type: none;
    margin-left: 1em;
}
dt.issue {
    background-image: url("../images/ticket.png");
}
dt.issue-edit {
    background-image: url("../images/ticket_edit.png");
}
dt.issue-closed {
    background-image: url("../images/ticket_checked.png");
}
dt.issue-note {
    background-image: url("../images/ticket_note.png");
}
dt.changeset {
    background-image: url("../images/changeset.png");
}
dt.news {
    background-image: url("../images/news.png");
}
dt.message {
    background-image: url("../images/message.png");
}
dt.reply {
    background-image: url("../images/comments.png");
}
dt.wiki-page {
    background-image: url("../images/wiki_edit.png");
}
dt.attachment {
    background-image: url("../images/attachment.png");
}
dt.document {
    background-image: url("../images/document.png");
}
dt.project {
    background-image: url("../images/projects.png");
}
dt.time-entry {
    background-image: url("../images/time.png");
}
#search-results dt.issue.closed {
    background-image: url("../images/ticket_checked.png");
}
div#roadmap .related-issues {
    margin-bottom: 1em;
}
div#roadmap .related-issues td.checkbox {
    display: none;
}
div#roadmap .wiki h1:first-child {
    display: none;
}
div#roadmap .wiki h1 {
    font-size: 120%;
}
div#roadmap .wiki h2 {
    font-size: 110%;
}
body.controller-versions.action-show div#roadmap .related-issues {
    width: auto;
}
div#version-summary {
    background-color: #FFFFFF;
    float: right;
    margin-bottom: 16px;
    margin-left: 16px;
    width: 380px;
}
div#version-summary fieldset {
    margin-bottom: 1em;
}
div#version-summary .total-hours {
    text-align: right;
}
table#time-report td.hours, table#time-report th.period, table#time-report th.total {
    padding-right: 0.5em;
    text-align: right;
}
table#time-report tbody tr {
    color: #777777;
    font-style: italic;
}
table#time-report tbody tr.last-level {
    color: #555555;
    font-style: normal;
}
table#time-report tbody tr.total {
    background-color: #EEEEEE;
    color: #555555;
    font-style: normal;
    font-weight: bold;
}
table#time-report .hours-dec {
    font-size: 0.9em;
}
div.wiki-page .contextual a {
    opacity: 0.4;
}
div.wiki-page .contextual a:hover {
    opacity: 1;
}
form .attributes select {
    width: 60%;
}
input#issue_subject {
    width: 99%;
}
select#issue_done_ratio {
    width: 95px;
}
ul.projects {
    margin: 0;
    padding-left: 1em;
}
ul.projects.root {
    margin: 0;
    padding: 0;
}
ul.projects ul.projects {
    border-left: 3px solid #E0E0E0;
}
ul.projects li.root {
    list-style-type: none;
    margin-bottom: 1em;
}
ul.projects li.child {
    list-style-type: none;
    margin-top: 1em;
}
ul.projects div.root a.project {
    font-family: "Trebuchet MS",Verdana,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}
.my-project {
    background: url("../images/fav.png") no-repeat scroll 0 50% transparent;
    padding-left: 18px;
}
#tracker_project_ids ul {
    margin: 0;
    padding-left: 1em;
}
#tracker_project_ids li {
    list-style-type: none;
}
ul.properties {
    color: #777777;
    font-size: 0.9em;
    padding: 0;
}
ul.properties li {
    list-style-type: none;
}
ul.properties li span {
    font-style: italic;
}
.total-hours {
    font-size: 110%;
    font-weight: bold;
}
.total-hours span.hours-int {
    font-size: 120%;
}
.autoscroll {
    margin-bottom: 1.2em;
    overflow-x: auto;
    padding: 1px;
}
#user_login, #user_firstname, #user_lastname, #user_mail, #my_account_form select, #user_form select, #user_identity_url {
    width: 90%;
}
#workflow_copy_form select {
    width: 200px;
}
textarea#custom_field_possible_values {
    width: 99%;
}
.pagination {
    font-size: 90%;
}
p.pagination {
    margin-top: 8px;
}
.tabular p {
    clear: left;
    height: 1%;
    margin: 0;
    padding: 3px 0 3px 180px;
}
html > body .tabular p {
    overflow: hidden;
}
.tabular label {
    float: left;
    font-weight: bold;
    margin-left: -180px;
    text-align: right;
    width: 175px;
}
.tabular label.floating {
    font-weight: normal;
    margin-left: 0;
    text-align: left;
    width: 270px;
}
.tabular label.block {
    display: block;
    float: none;
    font-weight: normal;
    margin-left: 0 !important;
    text-align: left;
    width: auto;
}
.tabular label.inline {
    float: none;
    margin-left: 5px !important;
    width: auto;
}
form em {
    color: #888888;
    font-size: 90%;
    font-style: normal;
}
label.no-css {
    float: none;
    font-weight: inherit;
    margin-left: 0;
    text-align: left;
    width: auto;
}
input#time_entry_comments {
    width: 90%;
}
#preview fieldset {
    background: url("../images/draft.png") repeat scroll 0 0 transparent;
    margin-top: 1em;
}
.tabular.settings p {
    padding-left: 300px;
}
.tabular.settings label {
    margin-left: -300px;
    width: 295px;
}
.tabular.settings textarea {
    width: 99%;
}
.settings.enabled_scm table {
    width: 100%;
}
.settings.enabled_scm td.scm_name {
    font-weight: bold;
}
fieldset.settings label {
    display: block;
}
fieldset#notified_events .parent {
    padding-left: 20px;
}
.required {
    color: #BB0000;
}
.summary {
    font-style: italic;
}
#attachments_fields input[type="text"] {
    margin-left: 8px;
}
#attachments_fields span {
    display: block;
    white-space: nowrap;
}
#attachments_fields img {
    vertical-align: middle;
}
div.attachments {
    margin-top: 12px;
}
div.attachments p {
    margin: 4px 0 2px;
}
div.attachments img {
    vertical-align: middle;
}
div.attachments span.author {
    color: #888888;
    font-size: 0.9em;
}
p.other-formats {
    color: #666666;
    font-size: 0.9em;
    text-align: right;
}
.other-formats span + span:before {
    content: "| ";
}
a.atom {
    background: url("../images/feed.png") no-repeat scroll 1px 50% transparent;
    padding: 2px 0 3px 16px;
}
div#tab-content-members .splitcontentleft, div#tab-content-memberships .splitcontentleft, div#tab-content-users .splitcontentleft {
    width: 64%;
}
div#tab-content-members .splitcontentright, div#tab-content-memberships .splitcontentright, div#tab-content-users .splitcontentright {
    width: 34%;
}
div#tab-content-members fieldset, div#tab-content-memberships fieldset, div#tab-content-users fieldset {
    margin-bottom: 1em;
    padding: 1em;
}
div#tab-content-members fieldset legend, div#tab-content-memberships fieldset legend, div#tab-content-users fieldset legend {
    font-weight: bold;
}
div#tab-content-members fieldset label, div#tab-content-memberships fieldset label, div#tab-content-users fieldset label {
    display: block;
}
div#tab-content-members fieldset div, div#tab-content-users fieldset div {
    max-height: 400px;
    overflow: auto;
}
table.members td.group {
    background: url("../images/group.png") no-repeat scroll 0 50% transparent;
    padding-left: 20px;
}
input#principal_search, input#user_search {
    width: 100%;
}
* html div#tab-content-members fieldset div {
    height: 450px;
}
#errorExplanation, div.flash, .nodata, .warning {
    border: 2px solid;
    font-size: 1.1em;
    margin-bottom: 12px;
    padding: 4px 4px 4px 30px;
}
div.flash {
    margin-top: 8px;
}
div.flash.error, #errorExplanation {
    background: url("../images/exclamation.png") no-repeat scroll 8px 50% #FFE3E3;
    border-color: #DD0000;
    color: #880000;
}
div.flash.notice {
    background: url("../images/true.png") no-repeat scroll 8px 5px #DFFFDF;
    border-color: #9FCF9F;
    color: #005F00;
}
div.flash.warning {
    background: url("../images/warning.png") no-repeat scroll 8px 5px #FFEBC1;
    border-color: #FDBF3B;
    color: #A6750C;
    text-align: left;
}
.nodata, .warning {
    background-color: #FFEBC1;
    border-color: #FDBF3B;
    color: #A6750C;
    text-align: center;
}
span.error {
    background: url("../images/exclamation.png") no-repeat scroll 0 50% transparent;
    padding-left: 20px;
}
#errorExplanation ul {
    font-size: 0.9em;
}
#errorExplanation h2, #errorExplanation p {
    display: none;
}
#ajax-indicator {
    background-color: #EEEEEE;
    border: 1px solid #BBBBBB;
    font-weight: bold;
    left: 40%;
    opacity: 0.5;
    padding: 0.6em;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 20%;
    z-index: 100;
}
html > body #ajax-indicator {
    position: fixed;
}
#ajax-indicator span {
    background-image: url("../images/loading.gif");
    background-position: 0 40%;
    background-repeat: no-repeat;
    padding-left: 26px;
    vertical-align: bottom;
}
table.cal {
    border: 1px solid #D7D7D7;
    border-collapse: collapse;
    margin: 0 0 6px;
    width: 100%;
}
table.cal thead th {
    background-color: #EEEEEE;
    padding: 4px;
    width: 14%;
}
table.cal thead th.week-number {
    width: auto;
}
table.cal tbody tr {
    height: 100px;
}
table.cal td {
    border: 1px solid #D7D7D7;
    font-size: 0.9em;
    vertical-align: top;
}
table.cal td.week-number {
    background-color: #EEEEEE;
    border: medium none;
    font-size: 1em;
    padding: 4px;
}
table.cal td p.day-num {
    font-size: 1.1em;
    text-align: right;
}
table.cal td.odd p.day-num {
    color: #BBBBBB;
}
table.cal td.today {
    background: none repeat scroll 0 0 #FFFFDD;
}
table.cal td.today p.day-num {
    font-weight: bold;
}
table.cal .starting a, p.cal.legend .starting {
    background: url("../images/bullet_go.png") no-repeat scroll -1px -2px transparent;
    padding-left: 16px;
}
table.cal .ending a, p.cal.legend .ending {
    background: url("../images/bullet_end.png") no-repeat scroll -1px -2px transparent;
    padding-left: 16px;
}
table.cal .starting.ending a, p.cal.legend .starting.ending {
    background: url("../images/bullet_diamond.png") no-repeat scroll -1px -2px transparent;
    padding-left: 16px;
}
p.cal.legend span {
    display: block;
}
.tooltip {
    position: relative;
    z-index: 24;
}
.tooltip:hover {
    color: #000000;
    z-index: 25;
}
.tooltip span.tip {
    display: none;
    text-align: left;
}
div.tooltip:hover span.tip {
    background-color: #FFFFFF;
    border: 1px solid #555555;
    color: #505050;
    display: block;
    font-size: 0.8em;
    left: 24px;
    padding: 4px;
    position: absolute;
    top: 12px;
    width: 270px;
}
table.progress {
    border: 1px solid #D7D7D7;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    float: left;
    margin: 1px 6px 1px 0;
    text-align: center;
}
table.progress td {
    height: 0.9em;
}
table.progress td.closed {
    background: none repeat scroll 0 center #BAE0BA;
}
table.progress td.done {
    background: none repeat scroll 0 center #DEF0DE;
}
table.progress td.open {
    background: none repeat scroll 0 center #FFFFFF;
}
p.pourcent {
    font-size: 80%;
}
p.progress-info {
    clear: left;
    font-size: 80%;
    font-style: italic;
}
#content .tabs {
    height: 2.6em;
    margin-bottom: 1.2em;
    overflow: hidden;
    position: relative;
}
#content .tabs ul {
    border-bottom: 1px solid #BBBBBB;
    bottom: 0;
    margin: 0;
    padding-left: 1em;
    position: absolute;
    width: 2000px;
}
#content .tabs ul li {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    list-style-type: none;
    margin-bottom: -1px;
    margin-right: 8px;
    position: relative;
    white-space: nowrap;
}
#content .tabs ul li a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EEEEEE;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-style: solid;
    border-width: 1px;
    color: #777777;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.3em;
    padding: 4px 6px;
    text-decoration: none;
}
#content .tabs ul li a:hover {
    background-color: #FFFFDD;
    text-decoration: none;
}
#content .tabs ul li a.selected {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #BBBBBB #BBBBBB #FFFFFF;
    border-style: solid;
    border-width: 1px;
}
#content .tabs ul li a.selected:hover {
    background-color: #FFFFFF;
}
div.tabs-buttons {
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid #BBBBBB;
    bottom: 0;
    height: 24px;
    position: absolute;
    right: 0;
    width: 48px;
}
button.tab-left, button.tab-right {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-style: solid;
    border-width: 1px;
    bottom: -1px;
    cursor: pointer;
    font-size: 0.9em;
    height: 24px;
    padding: 4px;
    position: absolute;
    width: 20px;
}
button.tab-left {
    background: url("../images/bullet_arrow_left.png") no-repeat scroll 50% 50% #EEEEEE;
    right: 20px;
}
button.tab-right {
    background: url("../images/bullet_arrow_right.png") no-repeat scroll 50% 50% #EEEEEE;
    right: 0;
}
div.autocomplete {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 400px;
}
div.autocomplete ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.autocomplete ul li {
    background-color: white;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    display: block;
    font-size: 90%;
    list-style-type: none;
    margin: -1px 0 0;
    padding: 2px;
}
div.autocomplete ul li.selected {
    background-color: #FFFFBB;
}
div.autocomplete ul li span.informal {
    color: #AAAAAA;
    font-size: 80%;
}
#parent_issue_candidates ul li {
    width: 500px;
}
#related_issue_candidates ul li {
    width: 500px;
}
.diff_out {
    background: none repeat scroll 0 0 #FFCCCC;
}
.diff_out span {
    background: none repeat scroll 0 0 #FFAAAA;
}
.diff_in {
    background: none repeat scroll 0 0 #CCFFCC;
}
.diff_in span {
    background: none repeat scroll 0 0 #AAFFAA;
}
.text-diff {
    background-color: #F6F6F6;
    border: 1px solid #E4E4E4;
    color: #505050;
    padding: 1em;
}
div.wiki table {
    border: 1px solid #505050;
    border-collapse: collapse;
    margin-bottom: 1em;
}
div.wiki table, div.wiki td, div.wiki th {
    border: 1px solid #BBBBBB;
    padding: 4px;
}
div.wiki .external {
    background-image: url("../images/external.png");
    background-position: 0 60%;
    background-repeat: no-repeat;
    padding-left: 12px;
}
div.wiki a.new {
    color: #B73535;
}
div.wiki pre {
    background-color: #FAFAFA;
    border: 1px solid #DADADA;
    margin: 1em 1em 1em 1.6em;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 2px 2px 2px 0;
    width: auto;
}
div.wiki ul.toc {
    background-color: #FFFFDD;
    border: 1px solid #E4E4E4;
    display: table;
    line-height: 1.2em;
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 12px;
    padding: 4px;
}
* html div.wiki ul.toc {
    width: 50%;
}
div.wiki ul.toc.right {
    float: right;
    margin-left: 12px;
    margin-right: 0;
    width: auto;
}
div.wiki ul.toc.left {
    float: left;
    margin-left: 0;
    margin-right: 12px;
    width: auto;
}
div.wiki ul.toc ul {
    margin: 0;
    padding: 0;
}
div.wiki ul.toc li {
    list-style-type: none;
    margin: 0;
}
div.wiki ul.toc li li {
    margin-left: 1.5em;
}
div.wiki ul.toc li li li {
    font-size: 0.8em;
}
div.wiki ul.toc a {
    color: #606060;
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: none;
}
div.wiki ul.toc a:hover {
    color: #C61A1A;
    text-decoration: underline;
}
a.wiki-anchor {
    display: none;
    margin-left: 6px;
    text-decoration: none;
}
a.wiki-anchor:hover {
    color: #AAAAAA !important;
    text-decoration: none;
}
h1:hover a.wiki-anchor, h2:hover a.wiki-anchor, h3:hover a.wiki-anchor {
    color: #DDDDDD;
    display: inline;
}
div.wiki img {
    vertical-align: middle;
}
.block-receiver {
    border: 1px dashed #C0C0C0;
    margin-bottom: 20px;
    padding: 15px 0;
}
.mypage-box {
    color: #505050;
    line-height: 1.5em;
    margin: 0 0 20px;
}
.handle {
    cursor: move;
}
a.close-icon {
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 12px;
    margin-top: 3px;
    overflow: hidden;
    width: 12px;
}
a.close-icon:hover {
    background-image: url("../images/close_hl.png");
}
.gantt_hdr {
    border-bottom: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    height: 16px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
}
.gantt_subjects {
    font-size: 0.8em;
}
.gantt_subjects div {
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.task {
    color: #888888;
    font-size: 0.8em;
    height: 8px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    position: absolute;
    white-space: nowrap;
}
.task.label {
    width: 100%;
}
.task.label.project, .task.label.version {
    font-weight: bold;
}
.task_late {
    background: url("../images/task_late.png") repeat scroll 0 0 #FF6666;
    border: 1px solid #FF6666;
}
.task_done {
    background: url("../images/task_done.png") repeat scroll 0 0 #00C600;
    border: 1px solid #00C600;
}
.task_todo {
    background: url("../images/task_todo.png") repeat scroll 0 0 #AAAAAA;
    border: 1px solid #AAAAAA;
}
.task_todo.parent {
    background: none repeat scroll 0 0 #888888;
    border: 1px solid #888888;
    height: 3px;
}
.task_late.parent, .task_done.parent {
    height: 3px;
}
.task.parent.marker.starting {
    background: url("../images/task_parent_end.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    left: 0;
    margin-left: -4px;
    position: absolute;
    top: -1px;
    width: 8px;
}
.task.parent.marker.ending {
    background: url("../images/task_parent_end.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    margin-left: -4px;
    position: absolute;
    right: 0;
    top: -1px;
    width: 8px;
}
.version.task_late {
    background: url("../images/milestone_late.png") repeat scroll 0 0 #FF6666;
    border: 1px solid #FF6666;
    height: 2px;
    margin-top: 3px;
}
.version.task_done {
    background: url("../images/milestone_done.png") repeat scroll 0 0 #00C600;
    border: 1px solid #00C600;
    height: 2px;
    margin-top: 3px;
}
.version.task_todo {
    background: url("../images/milestone_todo.png") repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 2px;
    margin-top: 3px;
}
.version.marker {
    background-image: url("../images/version_marker.png");
    background-repeat: no-repeat;
    border: 0 none;
    margin-left: -4px;
    margin-top: 1px;
}
.project.task_late {
    background: url("../images/milestone_late.png") repeat scroll 0 0 #FF6666;
    border: 1px solid #FF6666;
    height: 2px;
    margin-top: 3px;
}
.project.task_done {
    background: url("../images/milestone_done.png") repeat scroll 0 0 #00C600;
    border: 1px solid #00C600;
    height: 2px;
    margin-top: 3px;
}
.project.task_todo {
    background: url("../images/milestone_todo.png") repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    height: 2px;
    margin-top: 3px;
}
.project.marker {
    background-image: url("../images/project_marker.png");
    background-repeat: no-repeat;
    border: 0 none;
    margin-left: -4px;
    margin-top: 1px;
}
.version-behind-schedule a, .issue-behind-schedule a {
    color: #F66914;
}
.version-overdue a, .issue-overdue a, .project-overdue a {
    color: #FF0000;
}
.icon {
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 2px;
}
.icon-add {
    background-image: url("../images/add.png");
}
.icon-edit {
    background-image: url("../images/edit.png");
}
.icon-copy {
    background-image: url("../images/copy.png");
}
.icon-duplicate {
    background-image: url("../images/duplicate.png");
}
.icon-del {
    background-image: url("../images/delete.png");
}
.icon-move {
    background-image: url("../images/move.png");
}
.icon-save {
    background-image: url("../images/save.png");
}
.icon-cancel {
    background-image: url("../images/cancel.png");
}
.icon-multiple {
    background-image: url("../images/table_multiple.png");
}
.icon-folder {
    background-image: url("../images/folder.png");
}
.open .icon-folder {
    background-image: url("../images/folder_open.png");
}
.icon-package {
    background-image: url("../images/package.png");
}
.icon-user {
    background-image: url("../images/user.png");
}
.icon-projects {
    background-image: url("../images/projects.png");
}
.icon-help {
    background-image: url("../images/help.png");
}
.icon-attachment {
    background-image: url("../images/attachment.png");
}
.icon-history {
    background-image: url("../images/history.png");
}
.icon-time {
    background-image: url("../images/time.png");
}
.icon-time-add {
    background-image: url("../images/time_add.png");
}
.icon-stats {
    background-image: url("../images/stats.png");
}
.icon-warning {
    background-image: url("../images/warning.png");
}
.icon-fav {
    background-image: url("../images/fav.png");
}
.icon-fav-off {
    background-image: url("../images/fav_off.png");
}
.icon-reload {
    background-image: url("../images/reload.png");
}
.icon-lock {
    background-image: url("../images/locked.png");
}
.icon-unlock {
    background-image: url("../images/unlock.png");
}
.icon-checked {
    background-image: url("../images/true.png");
}
.icon-details {
    background-image: url("../images/zoom_in.png");
}
.icon-report {
    background-image: url("../images/report.png");
}
.icon-comment {
    background-image: url("../images/comment.png");
}
.icon-summary {
    background-image: url("../images/lightning.png");
}
.icon-server-authentication {
    background-image: url("../images/server_key.png");
}
.icon-issue {
    background-image: url("../images/ticket.png");
}
.icon-zoom-in {
    background-image: url("../images/zoom_in.png");
}
.icon-zoom-out {
    background-image: url("../images/zoom_out.png");
}
.icon-passwd {
    background-image: url("../images/textfield_key.png");
}
.icon-file {
    background-image: url("../images/files/default.png");
}
.icon-file.text-plain {
    background-image: url("../images/files/text.png");
}
.icon-file.text-x-c {
    background-image: url("../images/files/c.png");
}
.icon-file.text-x-csharp {
    background-image: url("../images/files/csharp.png");
}
.icon-file.text-x-php {
    background-image: url("../images/files/php.png");
}
.icon-file.text-x-ruby {
    background-image: url("../images/files/ruby.png");
}
.icon-file.text-xml {
    background-image: url("../images/files/xml.png");
}
.icon-file.image-gif {
    background-image: url("../images/files/image.png");
}
.icon-file.image-jpeg {
    background-image: url("../images/files/image.png");
}
.icon-file.image-png {
    background-image: url("../images/files/image.png");
}
.icon-file.image-tiff {
    background-image: url("../images/files/image.png");
}
.icon-file.application-pdf {
    background-image: url("../images/files/pdf.png");
}
.icon-file.application-zip {
    background-image: url("../images/files/zip.png");
}
.icon-file.application-x-gzip {
    background-image: url("../images/files/zip.png");
}
img.gravatar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D5D5D5;
    padding: 2px;
}
div.issue img.gravatar {
    float: right;
    margin: 0 0 0 1em;
    padding: 5px;
}
div.issue table img.gravatar {
    float: left;
    height: 14px;
    margin: 0 0.5em 0 0;
    padding: 2px;
    width: 14px;
}
h2 img.gravatar {
    margin: -2px 4px -4px 0;
    padding: 3px;
    vertical-align: top;
}
h4 img.gravatar {
    margin: -6px 0 -4px;
    padding: 3px;
    vertical-align: top;
}
td.username img.gravatar {
    margin: 0 0.5em 0 0;
    vertical-align: top;
}
#activity dt img.gravatar {
    float: left;
    margin: 0 1em 1em 0;
}
.icon-gravatar {
    float: left;
    margin-right: 4px;
}
#activity dt, .journal {
    clear: left;
}
.journal-link {
    float: right;
}
h2 img {
    vertical-align: middle;
}
.hascontextmenu {
    cursor: context-menu;
}

#main {
    background: none repeat scroll 0 0 #FFFFFF;
}
/**#content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    margin: 0;
    overflow: visible !important;
    padding: 0;
    width: 99%;
}
*/
#wiki_add_attachment {
    display: none;
}
.hide-when-print {
    display: none;
}
.autoscroll {
    overflow-x: visible;
}
table.list {
    margin-top: 0.5em;
}
table.list th, table.list td {
    border: 0px solid #AAAAAA;
}
.hidden-for-sighted {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

#center {
  text-align: center;  
}

label {
  display: block;
  float: left;
  width: 100px;
}

label.inline {
  display: inline;
  float: none;
  padding-left: 5px;
}

.notice, .error {
  background: url("../assets/status-success.png") 0.4em center no-repeat #e4fdf6;
  padding: .5em .5em .5em 5em;
  border: 1px solid #006600;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 0 7px #006600;
  -moz-box-shadow: 0 0 7px #006600;
  box-shadow: 0 0 7px #006600;
  min-height: 1.5em;
}

.error {
  background: url("../assets/status-error.png") 0.4em center no-repeat #fee7d8;
  border-color: #D85A1A;
  -webkit-box-shadow: 0 0 7px #d85a1a;
  -moz-box-shadow: 0 0 7px #d85a1a;
  box-shadow: 0 0 7px #d85a1a; 
}

.notice h3 {
  color: #006600; 
}