// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
	margin: 1em;
	padding: 6px;
}

td{
	padding: 20px;
}