.filter {
  width: 230px;
  float: left;
  padding-left: 20px;
}

.filtered-table{
  width: calc(100% - 270px);
  float: left;
}






@media (max-width: 979px) {
  .filter {
    clear: both;
    padding-left: 0px;
    width: auto;
  }
  
  .filtered-table{
    width: 100%;
    clear: both;
  }
}