.calculator{
  display: inline;
  cursor: pointer; 
  position: relative;
  background: url("../assets/calculator.png") 0px no-repeat;
  top: 1px;
  padding-right: 1.5em;
}


#allocation_result{
  font-weight: bold;
  font-size: 110%;
}


#allocation_result_container{
  display: inline-block;
}


.hidden{
  display: none;
}

#use_this_number{
}

#fte_calculator input{
  margin-bottom: 5px;
} 

#fte_calculator label:last-of-type, #allocation_result_container{
  margin-top: 15px;
}