.calculator, .calculator:after{
  cursor: pointer; 
  position: relative;
  content: url("../assets/calculator.png");
  top: 1px;
  padding-right: 1.2em;
}


#allocation_result{
  font-weight: bold;
  font-size: 110%;
}

#or_div{
  padding: 5px;
  padding-left: 3em;
}

#allocation_result_container{
  clear: both;
  text-align: center;
}

span.form_input{
  float: right;
}

#ui-dialog-titlebar-close{
  display: none;
}

.ui-widget-content a {
  color: blue;
}

.ui-widget-header {
  background: #c34500;
  color: white;
}

.hidden{
  display: none;
}

#use_this_number{
  clear: both;
  text-align: center;
}