.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: auto;
  padding-left: 60px;
  padding-right: 30px;
}


.container {
  width: auto;
  padding-left: 60px;
  padding-right: 30px;
}





@media (max-width: 767px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: -10px;
    margin-left: -10px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: auto;
    padding: 0px;
  }
}
