.controls {
  position: relative;
  top: 5px;
  display: inline-block;
}

.form-horizontal .control-group {
    margin-bottom: 3px;
}

.navbar-inverse .brand, 
.navbar-inverse .nav > li > a {  
  color: white;
  padding: 10px 16px;
}

.navbar-inverse .nav > li > i {
  position: relative;
  float: left;
  top: 12px;
  left: 1px;
}

.navbar-inverse .navbar-inner {
  background: #444;
  /*background: -moz-linear-gradient(45deg, #020031 0%, #6D3353 100%) repeat scroll 0 0 transparent;*/
  min-height: 45px;
}


.brand, .brand > a {
  color: white;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 20px;
}


.form-search label, 
.form-inline label, 
.form-search .btn-group, 
.form-inline .btn-group {
  width: 130px;
}

#header{
  position: fixed;
  left: 14px;
  top: -8px;
  color: white;
  z-index: 100000;
}


form {
  margin: 0;
}

legend {
  border-width: 0;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  margin-bottom: 0px;
  position: relative;
  width: auto;
  font-style: italic;
}


.light-border {
  border: 1px dotted #DDDDDD;
  text-align: left;  
  margin: 1em;
  padding: .5em .5em .5em 1em;
  clear: both;
}

tr > td
{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 10px;
}

.table-striped > tbody > tr:nth-child(odd){
  background-color: #f9f9f9;
}




div.field_with_errors {
  display: inline;
}

th, td {
  overflow: hidden;
  width: 125px;
}

tbody {
  border-bottom: none;
}

select {
  width: 200px;
}

select.small {
  width: 120px;
}

input.small {
  width: 186px;
}

div.chart_div_container{
  height: 480px;
  width: 100%;
}

#chart_title{
  padding-top: 1.5em;
  text-align: center;
  font-size: 130%;
  font-weight: bold;
}

#chart_footer > label{
  clear: both;
  width: 180px;
}

#employee_results{
  display: none;
  font-weight: normal;
  line-height: 100%;
  font-size: 1em;
  padding-right: 1.5em;
}

/**
.help:after{
  content: url("../assets/information.png");
}
*/
.information{
  display: inline;
  cursor: pointer; 
  position: relative;
  background: url("../assets/information.png") 0px no-repeat;
  top: 1px;
  padding-right: 1.5em;
  margin-right: 3.5em;
}




.tooltip{
  display: none;
  position: absolute;
  max-width: 25em;
  padding: 3px 8px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  background-color: #444;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip_trigger{
  min-width: 10px;
  cursor: help;
  display: inline;
}

.tooltip_paragraph, .tooltip_li{
  font-weight: normal;
  margin: 5px;
  line-height: 150%;
}

.tooltip > ul{
  text-align: left;
}

.tooltip-table {
  max-width: none;
}

.tooltip-table > tbody > tr:nth-child(odd){
  background-color: #333;
}

.tooltip-table > thead {
  border-bottom: 1px solid #eee;
}

.tooltip_last_column{
  width: 1em;
}





#group_select_div > select, #service_select_div > select, #home_header_buttons > input {
  margin-right: 2em;
}

a{
  cursor: pointer; 
}
.pagination{
  height: 0;
  margin-top: 0;
  margin-bottom: 20px;
}
.pagination, #results_per_page{
 font-size: 100%; 
 padding: .5em;
}
.pagination_footer{
  border-top: 1px dotted gray;
  padding-top: .5em;
  padding-left: 20px;
}
.pagination_option, .pagination >a{
  font-weight: bold;
  display: inline;
  padding: .25em;
  width: 8%; 
}
#pagination_selected > a, .pagination > em{
  font-weight: bold;
  padding: .1em .33em .2em .25em;
  width: 8%;
  background-color: #888;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
}

.hidden{
  display: none;
}


.notice, .error, .message {
  background: url("../assets/status-success.png") 0.4em center no-repeat #e4fdf6;
  padding: .5em 5em;
  border: 1px solid #006600;
  margin: 7px;
  -webkit-box-shadow: 0 0 7px #006600;
  -moz-box-shadow: 0 0 7px #006600;
  box-shadow: 0 0 7px #006600;
  min-height: 1.5em;
}

.error {
  background: url("../assets/status-error.png") 0.4em center no-repeat #fee7d8;
  border-color: #D85A1A;
  -webkit-box-shadow: 0 0 7px #d85a1a;
  -moz-box-shadow: 0 0 7px #d85a1a;
  box-shadow: 0 0 7px #d85a1a; 
}

.message {
  background: #E2F4FD;
  border-color:#2268AB;
  -webkit-box-shadow: 0 0 7px #2268AB;
  -moz-box-shadow: 0 0 7px #2268AB;
  box-shadow: 0 0 7px #2268AB;
}

.notice h3 {
  color: #006600; 
}

.blank-icon {
  padding-right: 17px;
}

h2 > a {
  margin-left: 30px;
  font-size: 14px;
  font-weight: bold;
}

h3 > a {
  margin-left: 30px;
  font-size: 12px;
  font-weight: bold;
}

#login-inline,
#login-outline {
  float: right;
  margin-right: 0;
  position: relative;
  top: 10px;
  left: -20px;
}

#login-inline li,
#login-outline li {
  display: inline;
}

#login-inline > li > a,
#login-outline > li > a{
  padding-right: 20px;
  color: white;
}


.tiny-select {
  height: 22px;
  margin: 1px;
  padding: 0px;
  width: 65px; 
}

.tiny-submit {
  background: none;
  border: none;
  color: #0088CC;
  cursor: pointer;
  font-style: italic;
  margin: 0;
  padding: 0;
  text-shadow: none;
}

.table {
  margin-bottom: 0;
}

.overview {
  margin-bottom: 20px;
}

.overview caption{
  margin-top: 5px;
}

.overview label {
  display: inline;
  font-weight: bold;
}


.overview-label {
  display: inline-block;
  width: 200px;
}

th.variable-size, td.variable-size {
  max-width: 50px;
  min-width: 30px;
  width: 1px;
}

.accordion-title{
  display: inline-block;
  width: 150px;
}

.accordion-detail{
  display: inline-block;
}

.accordion-heading a:hover{
 text-decoration: none; 
}

.accordion-heading{
  display: block;
  padding: 8px 15px;
  cursor: default;
}

.accordion-heading .accordion-toggle{
  padding: 0px; 
}

.accordion-heading-block {
  display: inline-block;
  width: 400px;
}

.delete-button{
  float: right;
  display: inline;
  font-size: 14px;
  font-weight: bold;
}

.striped-1{
  background-color: #F9F9F9;
}

.accordion-group{
  border: none; 
  margin-bottom: 0px;
}

#modal_content, .modal_content_2, .ui-dialog{
  overflow: visible;
}

.tab-content{
  overflow: visible;
}

.year-content{
  overflow: visible;
  display: inline-block;
  width: 87%;
  padding: 0px;
  min-height: 0px;
  border-right: none;
}

.year-select{
  display: inline-block;
  width: 12%;
  padding: 0px;
  vertical-align: top;
  border-left: 1px solid #DDDDDD;
}

.nav{
  margin-bottom: 5px;
}

.chzn-container .chzn-results {
  max-height: 190px;
}

.whole{
  
}

.half1, .half2{
  width: 48%;
  display: inline-block;
  min-height: 30px;
  vertical-align: top;
}

.half1{
  margin:5px;
}

.half2{
  margin-left: 2%;
}

.thing0{
  font-weight: bold;
  display: block;
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.thing1{
  display: block;
  margin-bottom: 5px;
}

.thing2{
  display: inline-block;
  width: 300px;
}

.thing3{
  display: inline-block;
  margin-right: 5px;
  padding: 1px;
}

table.accordion-inner{
  border: 1px solid #E5E5E5;
  margin-bottom: 10px;
}

.whole > ul{
  margin: 0px;
}

.accordion-header{
  margin-left: 15px;
  font-size: 110%;
  margin-bottom: 5px;
}

.accordion {
  margin: 0px;
}

.or-div{
  padding-left: 200px;
  padding-top: 10px;
}




.widget {
    clear: both;
    margin-bottom: 2em;
    position: relative;
    width: auto;
}
.widget .widget-header {
    background: -moz-linear-gradient(center top , #FAFAFA 0%, #E9E9E9 100%) repeat scroll 0 0 transparent;
    border: 1px solid #D5D5D5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;
    line-height: 40px;
    position: relative;
}
.widget .widget-header h3 {
    color: #555555;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    left: 10px;
    line-height: 18px;
    margin-right: 3em;
    position: relative;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    top: 2px;
    margin-top: 0px;
    border-bottom: none;
}
.widget .widget-header [class^="icon-"], .widget .widget-header [class*=" icon-"] {
    color: #555555;
    display: inline-block;
    font-size: 16px;
    margin-left: 13px;
    margin-right: -2px;
    vertical-align: middle;
}
.widget .widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 5px 5px 5px 5px;
    padding: 20px 15px 15px;
}
.widget .widget-header + .widget-content {
    border-top: medium none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.widget.widget-nopad .widget-content {
    padding: 0;
}
.widget .widget-content {
}
.widget .widget-content:before, .widget .widget-content:after {
    content: "";
    display: table;
    line-height: 0;
}
.widget .widget-content:after {
    clear: both;
}
.widget.widget-table .widget-content {
    padding: 0;
}
.widget.widget-table .table {
    border: medium none;
    margin-bottom: 0;
}
.widget.widget-table .table tr td:first-child, .widget.widget-table .table tr th:first-child {
    border-left: medium none;
}
.widget.widget-plain {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
.widget.widget-plain .widget-content {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0;
}
.widget.widget-box .widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
}

.stacked {
    position: relative;
}
.stacked:after, .stacked:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #D3D3D3 #D3D3D3;
    border-image: none;
    border-radius: 0 0 3px 3px;
    border-right: 1px solid #D3D3D3;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    bottom: -2px;
    content: "";
    display: block;
    height: 1px;
    left: 3px;
    position: absolute;
    right: 3px;
}
.stacked:before {
    bottom: -4px;
    left: 6px;
    right: 6px;
}



















body{
  background-color: #F5F2ED;
}

#page-header{
  min-height: 40px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #D44413;
  background-image: none;
}

.two-navs #page-header{
  min-height: 81px;
  margin-bottom: 25px;
}

#page-content{
  min-height: calc(100% - 136px);
}

.two-navs #page-content{
  min-height: calc(100% - 183px);
}

#content{
  background-color: #FFF;
  padding: 0 10px;
  min-height: 100%;
  padding-bottom: 20px;
}

#footer {
    background: none repeat scroll 0 0 #D44413;
    border-top: 1px solid gray;
    color: #999999;
    font-size: 12px;
    margin-top: 30px;
    height: 45px;
    width: 100%;
    position: absolute;
}

.current_page {
  background-color: #A5360F;
}

.brand:hover,
.brand:focus,
.brand > a:hover,
.brand > a:focus {
  text-decoration: none;
}



html, body{
  height: 100%;
  padding: 0px;
}


.logo {
  display: block;
  float: left;
  padding: 0px 5px;
  position: relative;
  margin-left: -10px;
}

.logo:hover,
.logo:focus {
  text-decoration: none;
}

#login a {
  border-left: none;
  border-right: none;
}






#nav1, #nav2 {
  display: inline-block;
}

#nav1 {
  width: calc(100% - 325px);
  float: right;
} 

#nav2 {
}

#page-content .row{
  background-color: white;
}

#flash.row {
  background-color: transparent;
}







.view-header {
  margin-bottom: 10px;
}

.view-header-inner{
  border-bottom: 1px solid #F2F2F2;
  padding: 5px 5px 5px 20px;
}

.view-header .btn-group {
  margin-left: 10px;
  margin-bottom: 5px;
}

.view-header .dropdown-toggle > i {
  margin-right: 5px;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  margin: 0px;
}

h3, caption {
  margin-top: 20px;
  font-size: 16px;
  border-bottom: 2px solid #555555;
  font-weight: bold;
  text-align: left;
}

caption {
  padding-bottom: 10px;
}

.popover {
  min-width: 200px;
  max-width: 375px; 
  word-wrap: break-word;
}



.modal-header {
  background-color: #D44413;
  border-radius: 5px 5px 0 0;
  color: #fff;
}

.modal h4{
  line-height: 30px;
  margin: 0px;
}

.modal-footer{
  padding: 10px 15px;
}

textarea {
  height: 120px;
}

.tab-content > .active, .pill-content > .active {
  padding-bottom: 10px;
}


.tabs-right > .nav-tabs{
  margin-left: 0px;
}

.tabs-right .active > a {
  background: #A5360F;
  color: #fff;
}

.tabs-right > .nav-tabs > li > a:hover {
  background: #D44413;
  color: #fff;
}

.tabs-right > .nav-tabs > li {
  text-align: left;
}

.tabs-right > .nav-tabs > li a{
  font-size: 1.4em;
  padding-left: 30px;
}

.tabs-right > .nav-tabs > li:first-child {
  font-weight: bold;
  margin: 1px;
  padding-left: 15px;
}

.year-content{
  overflow: visible;
  display: inline-block;
  width: 87%;
  padding: 0px;
  min-height: 0px;
  border-right: none;
}

.view-header-inner > a, .view-header-inner > div > a{
  margin-left: 15px;
  display: inline-block;
  vertical-align: 10%;
}

.uncollapsed-buttons, .collapsed-buttons{
  display: inline;
}

a > i{
  margin-right: 3px;
}

.modal-body, .modal-footer {
  font-weight: normal;  
}





@media (min-width: 491px) {
  #login-collapse{
    display: none;
  }
  
  .collapsed-buttons {
    display: none;
  }
}

@media (max-width:490px) {
  #login{
    display: none;
  }
  
  .uncollapsed-buttons {
    display: none;
  }
  
  .modal-body {
    max-height: 180px;
  }
  
  textarea {
    height: 80px;
  }
}

@media (max-width: 755px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar2 {
    position: static;
  }
  .navbar-fixed-top,
  .navbar2 {
    margin-bottom: 20px;
  }
  .navbar-fixed-bottom {
    margin-top: 20px;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner,
  .navbar2 .navbar-inner {
    padding: 5px;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .navbar .brand {
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
  }
  .nav-collapse {
    clear: both;
  }
  .nav-collapse .nav {
    float: none;
    margin: 0 0 10px;
  }
  .nav-collapse .nav > li {
    float: none;
  }
  .nav-collapse .nav > li > a {
    margin-bottom: 2px;
  }
  .nav-collapse .nav > .divider-vertical {
    display: none;
  }
  .nav-collapse .nav .nav-header {
    color: #777777;
    text-shadow: none;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    padding: 9px 15px;
    font-weight: bold;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
  }
  .nav-collapse .btn {
    padding: 4px 10px 4px;
    font-weight: normal;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }
  .nav-collapse .dropdown-menu li + li a {
    margin-bottom: 2px;
  }

  .navbar-inverse .nav-collapse .nav > li > a,
  .navbar-inverse .nav-collapse .dropdown-menu a {
    color: #999999;
  }
  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .nav > li > a:focus,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:focus {
    background-color: #111111;
  }
  .nav-collapse.in .btn-group {
    padding: 0;
    margin-top: 5px;
  }
  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    display: none;
    float: none;
    max-width: none;
    padding: 0;
    margin: 0 15px;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .nav-collapse .open > .dropdown-menu {
    display: block;
  }
  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .dropdown-menu .divider {
    display: none;
  }
  .nav-collapse .nav > li > .dropdown-menu:before,
  .nav-collapse .nav > li > .dropdown-menu:after {
    display: none;
  }
  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: 10px 15px;
    margin: 10px 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-inverse .nav-collapse .navbar-form,
  .navbar-inverse .nav-collapse .navbar-search {
    border-top-color: #111111;
    border-bottom-color: #111111;
  }
  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }
  .nav-collapse,
  .nav-collapse.collapse {
    height: 0;
    overflow: hidden;
  }
  .navbar .btn-navbar {
    display: block;
  }
  .navbar-static .navbar-inner {
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .logo{
    margin-left: -5px;
  }
}









@media (min-width: 1221px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}




@media (max-width: 768px) {
  .navbar-fixed-top .navbar-inner{
    margin: 0 10px;
  }
}




@media (min-width: 768px) and (max-width: 979px) {
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
  }
}


@media (max-width: 767px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: -10px;
    margin-left: -10px;
  }
}


@media (min-width: 1200px) {
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }
}


@media (max-width: 979px) {

  .navbar-fixed-top {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
  }
}
