<% unless @issue_backlogs.blank? %>
  <tr class="version_row">
    <% if @use_version_for_sprint %>
      <td colspan="9">
    <% else %>
      <td colspan="10">
    <% end %>
      <%= l(:label_version_no_sprint) %>
    </td>
  </tr>
  <% @issue_backlogs.each do |issue| %>
    <tr class="issue_row">
      <%= render :partial => "list_issues", :locals => {:issue => issue} %>
    </tr>
  <% end %>
<% end %>