<% @sorted_issues.each do |issue_group|%>
  <% unless issue_group[:issues].blank? %>
    <tr class="version_row">
      <% if @use_version_for_sprint %>
        <td colspan="9">
      <% else %>
        <td colspan="10">
      <% end %>
        <%= issue_group[:name] %>
      </td>
    </tr>
    <% issue_group[:issues].each do |issue|%>
      <tr class="issue_row">
        <%= render :partial => "list_issues", :locals => {:issue => issue} %>
      </tr>
    <% end %>
  <% end %>
<% end %>


