<%= render :partial => "/shared/plugin_header", :locals => {:is_board => false} %>
<div class="container-fluid" id="div_screen_list">
  <%= render :partial => "screen_list", :locals => {:sorted_issues => @sorted_issues, 
      :issue_backlogs => @issue_backlogs} %>
</div>


<script>
  jQuery(function() {
    
  $("#btn_filter_issues_onlist").live("click",function(){
      var select_version = $("#select_version_onlist").val()
      var select_issue = $("#select_issue_onlist").val()
      var select_custom_value = $("#select_custom_value_onlist").val()
      var select_member = $("#select_member_onlist").val()
      var project_id = <%= @project.id %>
      var url_ajax = 'filter_issues_onlist'
      $.ajax({
        url : url_ajax,
        type : "POST",
        data : 'select_version=' + select_version + '&select_issue=' + select_issue + '&select_custom_value=' + select_custom_value + '&select_member=' + select_member + '&project_id=' + project_id,
        dataType : "script",
        success : function() {
          $(".progressbar").each(function() {
            var id = parseInt($(this).attr("id"))
            $("#"+id).progressbar({
              value:parseInt($(this).attr("value"))
            });
          });
        }
      });
      return false;
    });
     
  $(".progressbar").each(function() {
    var id = parseInt($(this).attr("id"))
    $("#"+id).progressbar({
      value:parseInt($(this).attr("value"))
    });
  });
  
});
</script>

